#!/bin/bash
# Dektec DKMS pre-uninstallation script on Ubuntu and Debian systems.

if [[ "$1" = "remove" || "$1" = "deconfigure" ]]; then
    [[ $(/usr/sbin/dkms status | grep dektec | grep "{{VERSION}}" | wc -l) -gt 0 ]] && /usr/sbin/dkms remove -m dektec -v "{{VERSION}}" --all
fi

exit 0
